.wrapper {
  background: #eeeeee;
}

.container {
  margin: 0 auto;
  max-width: 1220px;
}

.loginLayout {
  min-height: 65.9vh;
  padding-top: 200px;
  &_signInTitle {
    font-family: "Jost";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 115%;
    text-align: center;
    color: #3e424b;
    margin-bottom: 20px;
  }
  &_signInNotAccount{
    font-family: "Jost";
    font-weight: 700;
    font-size: 25px;
    line-height: 115%;
    text-align: center;
    color: #3e424b;
    margin-bottom: 20px;
  }
  &_signInNotAccount a {
    cursor: pointer;
  }
  &_signUp {
    &_title {
      font-family: "Jost";
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 115%;
      text-align: center;
      color: #3e424b;
      margin-bottom: 20px;
    }
    &_auth {
      font-family: "Jost";
      font-weight: 700;
      font-size: 25px;
      line-height: 115%;
      text-align: center;
      color: #3e424b;
      margin-bottom: 20px;
    }
    &_auth a {
      cursor: pointer;
    }
  }
}
