.productCard:hover {
  height: 450px;
  transition: 0.2s ease 0s;
  transform: scale(1.01);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.1);
}
.productCard:hover .productCard_addToCart {
  display: flex;
  justify-content: center;
  align-items: center;
}
.productCard {
  width: 289px;
  height: 384px;
  position: relative;
  background: #f5f5f5;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 8px;
  border-radius: 10px;

  &_addToCart {
    display: none;

    &_buttonPicture {
      width: 40px;
      height: 40px;
      margin-left: 20px;
    }
    &_button {
      background: transparent;
    }
    &_priceField input {
      width: 40px;
      height: 40px;
      border: 1.5px solid #bb8c5f;
      background: #eeeeee;
      font-weight: 400;
      font-size: 17px;
      line-height: 140%;
      text-align: center;
      color: #3e424b;
      margin: 0 25px;
    }
    &_increment,
    &_decrement {
      font-family: "Jost";
      font-style: normal;
      font-weight: 400;
      font-size: 27px;
      line-height: 140%;
      text-align: center;
      background: transparent;
      color: #3e424b;
    }
  }
  &_marks {
    position: absolute;
    z-index: 2;
    top: 26px;
    left: 30px;
  }

  &_likeBtn {
    position: absolute;
    top: 30px;
    right: 30px;
    background: transparent;
  }

  &_likeBtn img {
    width: 25px;
    height: 25px;
  }

  &_infoBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
    margin-right: 30px;
  }

  &_slide {
    margin-top: 12px;
    font-family: "Jost";
    font-style: normal;
    height: 228px;
    width: 289px;
  }

  &_title {
    margin-top: 22px;
    font-weight: 400;
    font-size: 17px;
    line-height: 140%;
    color: #3e424b;
    text-align: start;
  }

  &_price {
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: #bb8c5f;
    margin-top: 10px;
    margin-left: 28px;
  }

  &_startPrice {
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    text-decoration-line: line-through;
    color: #636b78;
    margin-left: 10px;
  }

  &_priceBlock {
    text-align: left;
    padding-bottom: 30px;
  }
}

.productCard:nth-child(4n + 1) {
  margin-left: 5px;
}
