.container {
  margin: 0 auto;
  max-width: 1220px;
  background: #050402;
  color: #ffffff;
}

.header_box {
  background: #050402;
}

.header_top_wrapper {
  display: flex;
  align-items: center;
}

.header_dividers {
  margin-top: 11px;
}
.header_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;

  &_burger {
    display: flex;
    align-items: baseline;

    &_description {
      font-family: "Jost";
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 140%;
      color: #faf6f2;
    }

    &_img {
      margin-left: 10px;
    }
  }

  &_search {
    border: 1px solid #dea26d;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 418px;
    position: relative;
    &_resultList {
      color: #be722b;
      &_item {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
        align-items: flex-start;
        font-size: 17px;
        padding: 10px;
      }
      &_item:hover {
        background: #cb9a6aaf;
        opacity: 1;
      }
      &_item:first-child {
        margin-top: 15px;
      }
    }
    &_result {
      height: 400px;
      width: 418px;
      background: #eeeeee;
      overflow: hidden;
      position: absolute;
      top: 42px;
      left: -1px;
      z-index: 5;
    }
    &_item {
      font-size: 17px;
      background-color: inherit;
      // position: relative;
      line-height: 24px;
      color: #faf6f2;
      height: 40px;
      width: 415px;
      padding-left: 48px;
    }

    &_item::placeholder {
      line-height: 20px;
      transform: translateY(0px);
    }
  }

  &_navbar {
    display: flex;
  }

  &_navbar li:not(:first-child) {
    margin-left: 60px;
  }
}

.header_top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 14px;

  &_social {
    display: flex;
    flex-direction: column;
    gap: 2px;

    &_item {
      display: flex;
      align-items: center;
      // position: relative;
      margin-right: 60px;

      &_phone {
        margin-left: 15px;
      }
    }

    &_network {
      position: inherit;
      display: flex;
      top: 22px;
      font-size: 12px;
      line-height: 18px;
      color: #d0d0d0;
    }

    &_network li {
      margin-right: 10px;
    }
  }

  &_mail {
    display: flex;
    align-items: center;

    &_post {
      margin-left: 15px;
      font-family: "Jost";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 150%;
    }
  }

  &_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #bb8c5f;
    text-transform: uppercase;

    &_name {
      font-family: "Forum";
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
    }
  }

  &_shop {
    font-family: "Jost";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: #bb8c5f;
  }

  &_basket {
    display: flex;
    align-items: center;
    max-width: 250px;
    // position: relative;
    &_likeBtn,
    &_personBtn,
    &_imgBtn {
      background: transparent;
      &_wrapper {
        position: relative;
      }
    }
    &_like {
      margin-left: 60px;
    }

    &_person {
      margin-left: 60px;
    }

    &_img {
      margin-left: 10px;
    }

    &_sum {
      font-family: "Jost";
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 150%;
      color: #faf6f2;
    }
    &_totalGoods {
      position: absolute;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #faf6f2;
      height: 24px;
      width: 24px;
      background: #bb8c5f;
      top: 0;
      left: 0;
      top: -15px;
      left: 22px;
    }
  }
}

.header_nav_item:hover {
  color: #bb8c5f;
}
