.comment {
    background: #f1eeec;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #dea26d;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

    &_content {
        width: auto;
        text-align: left;
        font-family: 'Jost';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 150%;
        color: #636B78;

        &_description {

            min-height: 6vh;
            padding: 10px 40px 40px 40px;
        }

    }

    &_personalCommentInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 40px;
        margin-top: 20px;
        margin-right: 40px;

    }

    &_imageBlock {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &_item {
            display: flex;
            align-items: center;
        }

        &_btn img {
            width: 30px;
            height: 30px;
        }


        &_picture {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            margin-right: 10px;
            margin-bottom: 10px;
        }
    }
}