.container {
    max-width: 1220px;
    margin: 0 auto;
}
.addvertisingBlock {
    box-sizing: border-box;
    position: relative;
    display: flex;
    font-family: 'Jost';
    min-height: 470px;
    background-color: #EEEEEE;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: #FAF6F2;
    margin-top: 120px;

    &_righBtn {
        padding-bottom: 35px;
        box-sizing: border-box;
        margin-top: 224px;
        margin-left: 53px;
        text-align: left;


 
    }

    &_leftBtn {
        padding-top: 68px;
        box-sizing: border-box;
        margin-top: 209px;
        margin-left: -77px;
        text-align: center;
    }

    &_left {
        background-image: url("../../assets/advertisingBlock/left.png");
        background-size: auto;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: -355px;
        height: 470px;
        width: 950px;
    }

    &_right {
        background-image: url("../../assets/advertisingBlock/right.png");
        background-size: auto;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        right: -355px;
        height: 470px;
        width: 950px;
    }

    &_leftTitle {
        text-align: center;
        margin-top: 40px;
    }

    &_rightTitle {
        margin-top: 40px;
        margin-left: 50px;
        width: 267px;
        text-align: start;
    }
}