.wrapper {
  background: #EEEEEE;

}

.container {
  margin: 0 auto;
  max-width: 1220px;
  color: #3e424b;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.bestList_header {
  margin-top: 120px;
  display: flex;
}

.bestList_header li:not(:first-child) {
  margin-left: 60px;
}

.bestList_header button:hover {
  color: #bb8c5f;
}

.bestList_bestContainer {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: 808px;
  overflow: hidden;
}

.bestContainerWrapper {
  display: flex;
  flex-direction: column;
  width: 1220px;
}

.bestList_Btn {
  position: relative;
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;

}

.bestList_headerBtn {
  background: transparent;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 115%;
  color: #3e424b;
}