.containerWrapper {
  background: #eeeeee;
  padding-top: 120px;
}

.container {
  margin: 0 auto;
  max-width: 1220px;
  color: #3e424b;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalogHeaderTitle {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  color: #3e424b;
}
.catalogHeaderTitle:hover{
  color: #bb8c5f;
  transition: 0.5s;
}

.catalogContent {
  display: flex;
  flex-direction: column;
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  color: #3e424b;
  flex-wrap: wrap;
  margin-top: 50px;

  &_consumables {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 20px;
    &_box {
      border-radius: 10px;
    }

    &_printers {
      background: #f5f5f5;
      text-align: start;
      position: relative;
      margin-left: 20px;
      border-radius: 10px;

      &_image {
        padding: 0 27px 14px 29px;
      }

      &_title {
        position: absolute;
        top: 40px;
        left: 50px;
      }
    }

    &_acsessories {
      background: #f5f5f5;
      text-align: start;
      margin-left: 20px;
      border-radius: 10px;

      &_image {
        padding-left: 32px;
        padding-right: 31px;
        padding-bottom: 13px;
      }

      &_title {
        padding-top: 40px;
        padding-bottom: 18px;
      }
    }

    &_box {
      background: #f5f5f5;
      text-align: start;
      position: relative;

      &_image {
        padding: 97px 32px 13px 31px;
      }

      &_title {
        position: absolute;
        top: 40px;
        left: 50px;
        width: 251px;
      }
    }
  }

  &_powers {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 20px;
    &_box {
      border-radius: 10px;
    }

    &_tips {
      background: #f5f5f5;
      text-align: start;
      position: relative;
      margin-left: 20px;
      border-radius: 10px;

      &_image {
        padding: 60px 18px 24px 15px;
      }

      &_title {
        position: absolute;
        top: 40px;
        left: 50px;
      }
    }

    &_needles {
      background: #f5f5f5;
      text-align: start;
      position: relative;
      margin-left: 20px;
      border-radius: 10px;

      &_image {
        padding: 60px 16px 24px 16px;
      }

      &_title {
        position: absolute;
        top: 40px;
        left: 50px;
      }
    }

    &_box {
      background: #f5f5f5;
      text-align: start;

      &_image {
        padding-left: 27px;
        padding-right: 27px;
      }

      &_title {
        padding-left: 50px;
        padding-top: 40px;
        padding-bottom: 4px;
      }
    }
  }

  &_machines {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    &_box {
      border-radius: 10px;
    }
    &_paints {
      background: #f5f5f5;
      margin-left: 20px;
      text-align: start;
      border-radius: 10px;

      &_image {
        padding-left: 16px;
        padding-right: 17px;
      }

      &_title {
        padding-top: 40px;
        padding-left: 50px;
      }
    }

    &_pedals {
      position: relative;
      background: #f5f5f5;
      text-align: start;
      margin-left: 20px;
      border-radius: 10px;

      &_image {
        padding-left: 130px;
      }

      &_title {
        position: absolute;
        top: 40px;
        left: 50px;
        width: 150px;
      }
    }

    &_box {
      width: 342px;
      background: #f5f5f5;
      padding-top: 40px;

      &_title {
        padding-top: 40px;
      }

      &_image {
        padding: 12px 40px 0 41px;
      }
    }
  }

  &_kitsCartridge {
    width: 701px;
    position: relative;
    background: #f5f5f5;
    margin-left: 21px;
    display: flex;
    align-items: end;
    border-radius: 10px;
  }

  &_kits {
    display: flex;
  }

  &_kitsBox {
    width: 494px;
    position: relative;
    text-align: start;
    background: #f5f5f5;
    border-radius: 10px;

    &_title {
      position: absolute;
      top: 40px;
      left: 50px;
      width: 113px;
    }

    &_image {
      padding-right: 14.71px;
      margin-left: 130px;
    }
  }
}
.catalogHover:hover {
  transform: scale(1.1);
  transition: 0.3s ease 0s;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.1);
}
