.wrapper {
  background: #eeeeee;
}

.container {
  margin: 0 auto;
  max-width: 1220px;
}

// Color Scheme
$primaryColor: #f95959;
$secondaryColor: #f7edd5;
$inputColor: #bb8c5f;

.registrForm {
  display: flex;
  flex-direction: column;
  width: 600px;
  background: #f2eeec;
  margin: auto;
  padding: 50px;
  border-radius: 20px;
  margin-bottom: 30px;
  border: 1px solid #dea26d;

  &_formgroupe {
    margin-bottom: 5px;
    text-align: left;
  }

  &_formgroupe label {
    cursor: text;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    color: #bb8c5f;
    padding-bottom: 10px;
  }

  &_formgroupe input:not([type="submit"]) {
    background: #e5e1e1;
    outline: none;
    display: block;
    padding: 15px 10px;
    width: 100%;
    border: 2px solid #bb8c5f;
    border-radius: 8px;
    font-size: 20px;
    color: #865221;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  &_formgroupe:last-child {
    text-align: left;
  }

  &_check {
    text-align: left;
    margin-bottom: 40px;
  }

  &_check input {
    height: 20px;
    width: 20px;
    margin-right: 20px;
  }

  &_check label {
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    color: #bb8c5f;
  }

  &_btn {
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    color: #bb8c5f;
    background: #dfdad7e4;
    padding: 10px 40px;
    border-radius: 10px;
  }

  &_radio {
    display: flex;
    align-items: center;
    text-align: left;
  }

  &_radio input {
    margin-top: 20px;
    margin-bottom: 20px;
    zoom: 1.5;

  }

  &_radio label {
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    color: #bb8c5f;
  }

  // &_btn {
  //   font-size: 20px;
  //   font-weight: 400;
  //   text-align: left;
  //   color: #bb8c5f;
  //   background: #c4bebbd4;
  //   padding: 10px 40px;
  //   border-radius: 10px;
  // }
}

.registrForm_btn {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #dea26d;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Jost,sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .registrForm_btn {
    padding: 19px 32px;
  }
}

.registrForm_btn:before,
.registrForm_btn:after {
  border-radius: 80px;
}

.registrForm_btn:before {
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.registrForm_btn:after {
  background-color: initial;
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.registrForm_btn:hover:not(:disabled):before {
  background: linear-gradient(92.83deg, rgb(255, 116, 38) 0%, rgb(249, 58, 19) 100%);
}

.registrForm_btn:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.registrForm_btn:active:not(:disabled) {
  color: #ccc;
}

.registrForm_btn:active:not(:disabled):before {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
}

.registrForm_btn:active:not(:disabled):after {
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.registrForm_btn:disabled {
  cursor: default;
  opacity: .24;
}