.wrapper {
  background: #eeeeee;
  padding-top: 106px;
}

.container {
  margin: 0 auto;
  max-width: 1220px;
}

.productCardPage {
  min-height: 1112px;

  &_header {
    display: flex;
    justify-content: space-between;


    &_imageBlock {
      height: 400px;
      width: 470px;
      background: #f5f5f5;
      position: relative;
      border: 1px solid #dea26d;
      border-radius: 20px;

      &_img {
        height: 300px;
        width: 300px;
      }

      &_btn {
        position: absolute;
        top: 22px;
        right: 25px;
        background: transparent;
        zoom: 1.5;
      }

      &_marks {
        position: absolute;
        z-index: 2;
        top: 26px;
        left: 30px;
      }
    }

    &_descriptionBlock {
      width: 598px;
      text-align: left;
      font-family: "Jost";
      font-style: normal;
      font-weight: 700;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &_description {
        font-weight: 400;
        font-size: 17px;
        line-height: 140%;
        color: #636b78;
      }

      &_addBtn {
        margin-left: 41px;
      }

      &_basket {
        display: flex;
        align-items: center;
      }

      &_increment,
      &_decrement {
        font-family: "Jost";
        font-style: normal;
        font-weight: 400;
        font-size: 27px;
        line-height: 140%;
        text-align: center;
        color: #3e424b;
      }

      &_priceField input {
        width: 40px;
        height: 40px;
        border: 1.5px solid #bb8c5f;
        background: #eeeeee;
        font-weight: 400;
        font-size: 17px;
        line-height: 140%;
        text-align: center;
        color: #3e424b;
        margin: 0 25px;
      }

      &_title {
        font-size: 30px;
        line-height: 115%;
        color: #3e424b;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin-bottom: 25px;
      }

      &_price {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
      }

      &_priceFinal {
        font-size: 24px;
        line-height: 130%;
        color: #bb8c5f;
        flex: none;
        order: 0;
        flex-grow: 0;
      }

      &_priceStart {
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;
        text-decoration-line: line-through;
        color: #d0d0d0;
        margin-left: 15px;
      }

      &_amount {
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;
        color: #636b78;
        margin-left: 20px;
      }
    }
  }
}
.secondMarksPosition {
  position: absolute;
  z-index: 2;
  top: 66px;
  left: 30px;
}
.BreadCrumps {
  text-align: left;
  margin-bottom: 50px;
  }