.comments {
    &_headerComment {
        width: auto;
        text-align: left;
        font-family: 'Jost';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 150%;
        color: #636B78;
        display: flex;
        align-items: baseline;

        &_picture {
            margin-left: 10px;
            zoom: 1.3;
        }
    }
}