.container {
  margin: 0 auto;
  max-width: 1220px;
  background: #050402;
  color: #ffffff;
}
.header_box{
    background:#050402;
}
.header_top_wrapper {
  display: flex;
  align-items: center;
}
.header_dividers {
  margin-top: 11px;
}

.header_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_burger {
    display: flex;
    align-items: baseline;
    &_description {
      font-family: "Jost";
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 140%;
      color: #faf6f2;
    }
    &_img {
      margin-left: 10px;
    }
  }
  &_search {
    border: 1px solid #524336;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 418px;
    &_item {
      font-size: 17px;
      background-color: inherit;
      position: relative;
      line-height: 24px;
      color: #faf6f2;
      height: 40px;
    }
    &_item::placeholder{
        line-height: 20px;
        transform: translateY(0px);
        }
  }
  &_navbar {
    display: flex;
  }
  &_navbar li:not(:first-child) {
    margin-left: 60px;
  }
}

.header_top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 14px;
  &_social {
    display: flex;
    flex-direction: column;
    gap: 2px;
    &_item {
      display: flex;
      align-items: center;
      position: relative;
      margin-right: 60px;
      &_phone {
        margin-left: 15px;
      }
    }
    &_network {
      position: inherit;
      display: flex;
      top: 22px;
      font-size: 12px;
      line-height: 18px;
      color: #d0d0d0;
    }
    &_network li {
      margin-right: 10px;
    }
  }
  &_mail {
    display: flex;
    align-items: center;
    &_post {
      margin-left: 15px;
      font-family: "Jost";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 150%;
    }
  }
  &_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #bb8c5f;
    text-transform: uppercase;
    &_name {
      font-family: "Forum";
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
    }
  }
  &_shop {
    font-family: "Jost";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: #bb8c5f;
  }
  &_basket {
    display: flex;
    align-items: center;
    max-width: 250px;
    &_like {
      margin-left: 60px;
    }
    &_person {
      margin-left: 60px;
    }
    &_img {
      margin-left: 10px;
    }
    &_sum {
      font-family: "Jost";
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 150%;
      color: #faf6f2;
    }
  }
}

