.wrapper {
  background: #eeeeee;
}

.container {
  margin: 0 auto;
  max-width: 1220px;
}

.shoppingCart {
  &_title {
    padding-top: 106px;
    text-align: left;
    font-family: "Forum";
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 100%;
    color: #3e424b;
    padding-bottom: 38px;
  }
}
