.comment {
    background: #f1eeec;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #dea26d;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

    &_content {
        width: auto;
        text-align: left;
        font-family: 'Jost';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 150%;
        color: #636B78;

        &_description {

            min-height: 6vh;
            padding: 10px 40px 40px 40px;
        }

    }

    &_personalCommentInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 40px;
        margin-top: 20px;
        margin-right: 40px;

    }

    &_imageBlock {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &_item {
            display: flex;
            align-items: center;
        }

        &_btn img {
            width: 30px;
            height: 30px;
        }


        &_picture {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            margin-right: 10px;
            margin-bottom: 10px;
        }
    }
}

.comment_imageBlock_btn {
    background: rgb(255, 151, 0) !important;
    border: none;
    z-index: 1;
    margin-left: 10px;
}

.comment_imageBlock_btn:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: #e4a32b;
    background-image: linear-gradient(315deg, #df7e61 0%, #e4b44e 74%);
    box-shadow: inset 2px 2px 2px 0px rgba(252, 148, 148, 0.5) 7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    transition: all 0.3s ease;
}

.comment_imageBlock_btn:hover {
    color: #000;
}

.comment_imageBlock_btn:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
}

.comment_imageBlock_btn:active {
    top: 2px;
}

.custom_btn {
    width: 130px;
    height: 40px;
    color: #636B78;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}