.filterButton {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    color: #BB8C5F;
    padding: 14px 24px;
    background: #F5F5F5;
    border: 1px solid #BB8C5F;
}

.filterButton:hover {
    background: #524336;
    border: 1px solid #BB8C5F;
    color: #FAF6F2;

}