.SeeInCatalogBtn_description {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #BB8C5F;
}

.SeeInCatalogBtn_btn {
    background-color: transparent;
}